.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 240px;
  background-color: var(--primary-dark);
  border: none;
  border-radius: 2px;
  color: var(--primary-contrast-text);
  font-size: 20px;
}

.container:hover {
  background-color: var(--primary-main);
}

.indicator {
  align-self: center;
}
