.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  background-color: var( --primary-contrast-text);
  padding: 30px;
  border-radius: 10px;
  width: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.title {
  text-align: center;
  margin-bottom: 10px;
}
.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.button {
  margin-top: 10px;
  padding: 10px;
  background-color: #2a9a58;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 6px;
}
.error {
  color: red;
  font-size: 13px;
  margin-top: -8px;
}
