.container {
  display: flex;
  width: 450px;
  min-width: 300px;
  height: 40px;
  align-items: center;
  background-color: var(--neutral-300);
  padding: 0 10px;
  border-radius: 4px;
}

.input {
  width: 100%;
  height: 100%;
  margin: 0 0 0 6px;
  border: none;
  background-color: var(--neutral-300);
  font-size: 18px;
}
.input:focus {
  outline: none;
}
