.container {
  width: var(--btn-width, 160px);
  height: var(--btn-height, 40px);

  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--primary-dark); */
  border: none;
  border-radius: 4px;
  color: var(--primary-contrast-text);
  font-size: 20px;
}

.container:hover {
  background-color: var(--primary-main);
}

.indicator {
  align-self: center;
}
