.container {
  display: flex;
  align-items: center;
  margin: 5px 0;
  cursor: pointer;
  padding: 10px 0;
  border-radius: 4px;
}

.container:hover {
  background-color: var(--primary-dark);
}

.title {
  color: var(--primary-contrast-text);
  margin: 0 10px;
  font-weight: 600;
}
