body {
  margin: 0;
}

.container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.title {
  color: var(--neutral-500);
  margin: 0 0 20px 0;
}

.buttons {
  display: flex;
  margin: 10px;
  gap: 10px;
}
