.container {
  width: 450px;
  min-width: 300px;
  height: 55px;
  border-radius: 4px;
  background-color: var(--neutral-200);
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin: 10px 0;
}

.title {
  color: var(--neutral-500);
  margin: 0 5px;
}
