.container {
  display: flex;
  min-height: 60px;
  background-color: var(--neutral-100);
  border-radius: 10px;
  margin: 4px 0;
  cursor: pointer;
}

.container:hover {
  background-color: var(--neutral-200);
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 6px;
  padding: 0 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
