.container {
  display: flex;
  justify-content: flex-end;
  background-color: var(--neutral-200);
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}

.box-content {
  display: flex;
  margin-right: 20px;
}

.username {
  margin: 0 8px;
}

.button-logout {
  color: #000;
  padding: 0 12px;
  font-size: 18px;
  border: none;
}

.button-logout:hover {
  background-color: var(--primary-dark);
  color: var(--neutral-200);
}
