.container {
  display: flex;
  justify-content: flex-end;
  background-color: var(--neutral-200);
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}

.box-content {
  display: flex;
  margin-right: 20px;
}


.username {
  margin: 0 8px;
}
