.sidebar {
  width: 340px;
  height: 100vh;
  background-color: var(--neutral-700);
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  z-index: 10;
}

.logoArea {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}
.box-new-ticket {
  margin-bottom: 20px;
}
