.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  background-color: var(--primary-contrast-text);
  padding: 30px;
  border-radius: 10px;
  width: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}

.title {
  text-align: center;
  margin-bottom: 10px;
}
.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.error {
  color: var(--error-dark);
  font-size: 13px;
}
